$header-padding: 20px;
$background-color: #eef2f7;
$header-background: white;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

@mixin header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $header-background;
  padding: $header-padding;
  font-size: 20px;
}

@mixin button {
  button {
    background: none;
    border: none;
  }
}

@mixin shadow {
  box-shadow: 0 10px 6px -6px #777;
}

html {
  box-sizing: border-box;
  height: 100%;
  background-color: $background-color;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  & + & {
    border-top: 1px rgb(173, 173, 173) solid;
  }
  &:hover {
    color: white;
    background-color: black;
  }
}

.container {
  width: 50%;
  margin: 0 auto;
}

#overflow {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  filter: opacity(0.8);
  z-index: 10;
  &.responsive {
    display: block;
  }
}

.headerWrapper {
  margin-top: 50px;
}

.header {
  @include header;
  @include button;
  @include shadow;
  ul {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
  }
}

.header1 {
  #nav1 {
    display: none;
    &.responsive {
      flex: 1 0 100%;
      display: block;
    }
  }
}

.header2 {
  #nav2 {
    position: fixed;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 11;
    transition: 1s;
    &.responsive {
      width: 40%;
    }
  }
}

.header3 {
  #nav3 {
    max-height: 0;
    transition: max-height 1s;
    flex: 1 0 100%;
    overflow: hidden;
    &.responsive {
      max-height: 500px;
    }
  }
}

.header4 {
  position: relative;
  #nav4 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    &.responsive {
      display: block;
    }
  }
}

.header5 {
  #nav5 {
    display: none;
    flex: 1 0 100%;
  }
}
